<header><h3 style="text-align:center">Counter App</h3></header>
<div class="container" style="align-items: center; ">
<button class="btn btn-primary"  (click)="increment()">Increment</button>
&nbsp;
<button class="btn btn-danger" (click)="decrement()">Decrement</button>
&nbsp;
<button  class="btn btn-outline-warning"  style="color: rgb(27, 26, 26);" (click)="reset()">Reset Count</button>
</div>
<div style="text-align: center;padding-top: 18px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Current Count : {{ count$ | async }}</div>